/* Reset css against diff browsers*/
* {
  margin:0;
  padding:0;
}

/* ----- BODY -----*/
body {
  max-width: 1920px;
  margin: auto;
  background-color: #E2A3C7;
}

/* ----- NAVIGATION BAR -----*/
.topnav {
  background-color: #60435F;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #A8DCD9;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.topnav a:hover {
  background-color: #A8DCD9;
  color: #60435F;
  border-radius: 0.3em;
}
.topnav a.active {
  color: #A8DCD9;
  border-radius: 0.3em;
  text-decoration: underline;
}
.topnav a.active:hover {
  color: #60435F;
  border-radius: 0.3em;
  text-decoration: underline;
}
.topnav .icon {
  display: none;
}

/* ----- MAIN CONTAINER ----- */
#container{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
}

.galleryImg {
  width: 24%;
}



/* Style the body *
body {
  height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    line-height: 1.5em;
    background-color: #F7EAE4;
    overflow-x: hidden;
  }
  
  /* Header/Logo Title 
  .logo {
    background: #E4B7B4;
  }
  .logo a img {
    max-width: fit-content;
    height: 90px;
  }
 */

  


    
/*
  a.logo {
    font-size: 25px;
    font-weight: bold;
  }
*/


/*Pages headings*
.PageHeading {
  text-align: center;
  padding-top: 1em;
}

/*Home page*
.headerImg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.homePage {
  padding: 10px;
  margin: 20px;
  height: auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.homePage-content {
  padding: 50px;
}

.homePage-content img {
  border-radius: 15px;
}
.homePage-content p {
  text-align: center;
  font-size: 1.5em;
  
  color: #bb6660;

  
  
}
.homePage-content a {
  text-decoration: none;


}
  


/*Recipy Page*
#slide {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 30em;
  border-radius: 15px;
}



/*Footer*

  .footer {
    background-color: #E4B7B4;
    text-align: center;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    margin: 5px 2px;
  }
  .footer i {
    padding: 10px;
    font-size: 40px;
}
.footer span {
  text-decoration: none;
}

  



  /*An example of a compound selector*
/*.cancelButton > a 



/*Gallery*
/*
.hidePics {
  display: none;
}
*
#mainImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    text-align: center;
    border-radius: 15px;
}

.galleryPic img {
  border-radius: 15px;
}
.next_prev {
  text-align: center;
  font-size: 25px;
}
.next_prev a {
  color: black;
 
}


/*Contact Page*/
/*
#detailsForm {
  text-align: center;
  padding: 1em ;
  border-radius: 5em;
  
  
}
  *
  #detailsForm {
    max-width: 400px;
    margin: auto;
    padding-top: 3em;
 
  }
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.2em;
  font-size: 1.3em;
}

.contact_back {
  background-image: url("/images/contact_Pic.jpg");
  height: 1120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/

/* ----- FOOTER ----- */
footer {
  background-color: #60435F;
  color: #A8DCD9;
  text-align: center;
  padding: 1em;
}
footer i {
  font-size: 3em;
  padding: 0.15em;
  color: #A8DCD9;
}
footer span {
  font-size: 1em;
}


/* ----- NAVIGATION BAR MEDIA QUERIES ----- */
@media screen and (max-width: 850px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
